<tr>
			<th>
February 2012
 <br/>-<br/> 
Present
</th>
			<td>
				<div><b>
Java Developer
</b>, 
Multicom Products Ltd
 <i>(
Bristol, United Kingdom
)</i></div>
				<div class="position-description">
					
Development and maintenance of the company's core product, FindAndBook, in its relation to the suppliers websites.<br> Online datamining (web-scraping of the websites to retrieve all required information)<br> Maintenance of the Viewdata application.

				</div>
			</td>
		</tr><tr>
			<th>
September 2009
 <br/>-<br/> 
February 2012
</th>
			<td>
				<div><b>
Software Engineer - Java EE, PHP
</b>, 
ALTEN
 <i>(
Lyon Area, France
)</i></div>
				<div class="position-description">
					
Management and realization of different internal projects :<br> <br> SMS, email and mail information campaigns sending platform:<br> - Conception of the evolutions, realization, tests, deployment, support<br> - Java, Oracle, GWT, Hibernate, JasperReports, Tomcat<br> <br> Company's website recruiting portal:<br> - Realization of some evolutions, tests, deployment, support<br> - PHP, MySQL, PHP-MVC, Apache HTTPD<br> <br> Several webservices, called by different internal applications :<br> - Conception, realization, tests, deployment, support<br> - Java, Axis2, Oracle, Tomcat<br> <br> Missions for clients :<br> <br> Web porting of a VB application:<br> - Conception, realization, tests, deployment, support<br> - PHP, PostGreSql, JavaScript, jQuery, jQGrid, Apache HTTPD<br> <br> Realization of an audit application :<br> - Conception, realization, tests, deployment, support<br> - PHP, PostGreSql, JavaScript, Apache HTTPD

				</div>
			</td>
		</tr><tr>
			<th>
December 2008
 <br/>-<br/> 
June 2009
</th>
			<td>
				<div><b>
Intern - Software engineer
</b>, 
ALTEN
 <i>(
Lyon Area, France
)</i></div>
				<div class="position-description">
					
Internal SMS sending platform<br> - Specifications, conception, implementation, testing<br> - J2EE, GWT, Hibernate, Oracle, Tomcat<br> <br> Computer equipment lending application<br> - Participation to the conception, implementation and testing<br> - J2EE, GWT, Hibernate, Oracle, Tomcat

				</div>
			</td>
		</tr><tr>
			<th>
May 2008
 <br/>-<br/> 
August 2008
</th>
			<td>
				<div><b>
Intern - Software developer
</b>, 
Ineo Tinea
 <i>(
Lyon Area, France
)</i></div>
				<div class="position-description">
					
Development of a project for the French national space center (CNES)<br> Electrostatic fields monitoring application, with a system of alarms<br> - Participation to the conception and implementation<br> - Java, Oracle, Eclipse RCP, SVN

				</div>
			</td>
		</tr>