
<div class="project">
	<header>
		<h1><a href="{{ root_url }}/projects/pfp/">PFP - PHP Framework</a></h1>
		<div class="description">Tiny PHP MVC framework</div>
	</header>
	<div class="link"><a href="{{ root_url }}/projects/pfp/">&rarr; PFP - PHP Framework</a></div>
</div>
<div class="project">
	<header>
		<h1><a href="{{ root_url }}/projects/rgresponsive/">RGResponsive</a></h1>
		<div class="description">Responsive theme for Wordpress</div>
	</header>
	<div class="link"><a href="{{ root_url }}/projects/rgresponsive/">&rarr; RGResponsive</a></div>
</div>
<div class="project">
	<header>
		<h1><a href="http://mybooks.remyg.fr/home">My Books</a></h1>
		<div class="description">Social literature website (reviews, collections, forums...)</div>
	</header>
	<div class="link"><a href="http://mybooks.remyg.fr/home">&rarr; My Books</a></div>
</div>
<div class="project">
	<header>
		<h1><a href="http://formcreator.remyg.fr">Form Creator</a></h1>
		<div class="description">Small web-app allowing you to automatically generate HTML forms with hidden fields, based on a list of names / values.</div>
	</header>
	<div class="link"><a href="http://formcreator.remyg.fr">&rarr; Form Creator</a></div>
</div>
<div class="project">
	<header>
		<h1><a href="https://github.com/RemyG/PythonScripts">Python Scripts</a></h1>
		<div class="description">Misc. Python scripts (retrieval of professional experience from LinkedIn,...)</div>
	</header>
	<div class="link"><a href="https://github.com/RemyG/PythonScripts">&rarr; Python Scripts</a></div>
</div>
<div class="project">
	<header>
		<h1><a href="{{ root_url }}/projects/phpscripts/">PHP Scripts</a></h1>
		<div class="description">Misc. PHP scripts (retrieval of professional experience from LinkedIn,...)</div>
	</header>
	<div class="link"><a href="{{ root_url }}/projects/phpscripts/">&rarr; PHP Scripts</a></div>
</div>