
<div class="project">
	<header>
		<h1><a href="{{ HOME_PATH }}projects/pfp/">PFP - PHP Framework</a></h1>
		<div class="description">Framework PHP MVC ultra-léger.</div>
	</header>
	<div class="link"><a href="{{ HOME_PATH }}projects/pfp/">&rarr; PFP - PHP Framework</a></div>
</div>
<div class="project">
	<header>
		<h1><a href="{{ HOME_PATH }}projects/rgwordstrap/">RGWordstrap</a></h1>
		<div class="description">Un thème réactif pour Wordpress, basé sur Twitter Bootstrap</div>
	</header>
	<div class="link"><a href="{{ HOME_PATH }}projects/rgwordstrap/">&rarr; RGWordstrap</a></div>
</div>
<div class="project">
	<header>
		<h1><a href="{{ HOME_PATH }}projects/rgresponsive/">RGResponsive</a></h1>
		<div class="description">Un thème réactif pour Wordpress</div>
	</header>
	<div class="link"><a href="{{ HOME_PATH }}projects/rgresponsive/">&rarr; RGResponsive</a></div>
</div>
<div class="project">
	<header>
		<h1><a href="http://mybooks.remyg.fr/home">My Books</a></h1>
		<div class="description">Site littéraire social (critiques, collections, forums...)</div>
	</header>
	<div class="link"><a href="http://mybooks.remyg.fr/home">&rarr; My Books</a></div>
</div>
<div class="project">
	<header>
		<h1><a href="{{ HOME_PATH }}projects/formcreator">Form Creator</a></h1>
		<div class="description">Application permettant de générer automatiquement des formulaires HTML avec champs cachés à partir d'une liste de paramètres / valeurs.</div>
	</header>
	<div class="link"><a href="{{ HOME_PATH }}projects/formcreator">&rarr; Form Creator</a></div>
</div>
<div class="project">
	<header>
		<h1><a href="https://github.com/RemyG/PythonScripts">Scripts Python</a></h1>
		<div class="description">Divers scripts Python (récupération des experiences professionnelles sur LinkedIn,...)</div>
	</header>
	<div class="link"><a href="https://github.com/RemyG/PythonScripts">&rarr; Scripts Python</a></div>
</div>
<div class="project">
	<header>
		<h1><a href="{{ HOME_PATH }}projects/phpscripts/">Scripts PHP</a></h1>
		<div class="description">Divers scripts PHP (récupération des experiences professionnelles sur LinkedIn,...)</div>
	</header>
	<div class="link"><a href="{{ HOME_PATH }}projects/phpscripts/">&rarr; Scripts PHP</a></div>
</div>