<tr>
			<th>Développement</th><td colspan="1">Java / Java EE</td><td colspan="1">PHP</td><td></td><td></td><td></td></tr><tr>
			<th>Java</th><td colspan="1">GWT</td><td colspan="1">Hibernate</td><td colspan="1">HttpClient</td><td></td><td></td></tr><tr>
			<th>Web</th><td colspan="1">PHP5</td><td colspan="1">HTML / CSS</td><td colspan="1">JavaScript / jQuery</td><td colspan="1">Bootstrap</td><td></td></tr><tr>
			<th>OS</th><td colspan="2">Linux (Ubuntu, Archlinux, Debian)</td><td colspan="2">Windows (2000, XP, Vista, 7)</td><td></td></tr><tr>
			<th>SGBD</th><td colspan="1">MySql</td><td colspan="1">Oracle / PL/SQL</td><td colspan="1">PostGreSql</td><td></td><td></td></tr><tr>
			<th>Outils</th><td colspan="1">Eclipse</td><td colspan="1">CVS / SVN / Git</td><td colspan="1">Tomcat</td><td colspan="1">Apache httpd</td><td></td></tr><tr>
			<th>Divers</th><td colspan="1">XML / XPath</td><td></td><td></td><td></td><td></td></tr>