---
---

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  /*float: right;*/ }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  display: inline-block;
  /*float: left;*/}

.tag_box li {
  /*line-height: 28px; */}

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  /*padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; */}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  /*background-color: #e5e5e5;*/ }

.tag_box a.active {
  /*background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF;*/ }

* {
  /*font-family: 'Gudea', sans-serif;*/
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(/img/cream_dust.png) repeat 0 0;
  padding-top: 50px;
  @media (max-width: 979px) {
    padding-top: 0;
  }  
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
}
p, div {
    font-family: 'Gudea', sans-serif;
}

h1, h2 { 
    text-shadow: 1px 1px 1px #ccc;
}

h1, h2, h3, h4, h5, h6 {
  &.anchor {
    &:before {
      display:block; 
      content:""; 
      height:50px; 
      margin:-50px 0 0; 
    }
  }
}

i.icon-large, i.icon-xlarge, i.icon-2x {
  vertical-align: middle;
}

i.icon-xlarge:before {
  font-size: 1.8em;  
}

/*div.content {
  h1 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.5em;
  }
}*/

div.last-articles {
  h3 {
    font-size: 1.6em;
    margin-top: 0;
    line-height: 1.6em;
  }
}

div.last-repositories {
  h3 {
    font-size: 1.6em;
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 1.6em;
  }
  p {
    margin-bottom: 10px;
  }
}

div.tweet-content {
  border-left: 8px solid #d4d4d4;  
  padding-left: 10px;
  margin-top: 5px;
}
div.tweet-info {
  margin-bottom: 15px;
  padding-left: 25px;
  font-style: italic;
}

pre {
  line-height: 1.2em;
}

header.project-downloads {
  padding-top: 1em;
  padding-bottom: 1.5em;
  ul {
    list-style:none;
    height:40px;
    padding:0;
    background: #eee;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    border-radius:5px;
    border:1px solid #d2d2d2;
    box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
    width:270px;
    margin-left: auto;
    margin-right: auto;
    li {
      width:89px;
      float:left;
      border-right:1px solid #d2d2d2;
      border-left:1px solid #fff;
      height:40px;
      &:first-child {
        border-left: none;
        width:88px;
      }
      &:last-child {
        border-right:none;
        width:88px;
      }
      a {
        line-height: 1;
        font-size: 11px;
        display: block;
        text-align: center;
        padding-top: 6px;
        height: 40px;
        text-decoration: none;
        strong {
          color:#222;
          font-weight:700;
          font-size:14px;
          display: block;
        }
      }
    }
  }
}

div.page-header {
  div.flattr-div,
  div.rss-div {
    text-align: right;
  }
}

div.flattr-div,
div.rss-div {
  margin-top: 22px;
  margin-bottom: 10px;
}

div.navbar {
  div.navbar-inner {
    border: none;
    border-bottom: 1px solid #d4d4d4;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: rgb(50, 50, 50);
    background-image: -moz-linear-gradient(top, rgb(65, 65, 65), rgb(50, 50, 50));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(65, 65, 65)), to(rgb(50, 50, 50)));
    background-image: -webkit-linear-gradient(top, rgb(65, 65, 65), rgb(50, 50, 50));
    background-image: -o-linear-gradient(top, rgb(65, 65, 65), rgb(50, 50, 50));
    background-image: linear-gradient(to bottom, rgb(65, 65, 65), rgb(50, 50, 50));
    a {
      color: #fff;
      text-shadow: none;
    }
    a.brand {
      font-family: 'Allan', Helvetica, Arial, sans-serif;
      font-size: 1.6em;
    }
    ul {
      a {        
        &:hover, &.active, &.active:hover {
          color: #fff;
          background-color: rgb(65, 65, 65);
          background-image: -moz-linear-gradient(top, rgb(80, 80, 80), rgb(65, 65, 65));
          background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(80, 80, 80)), to(rgb(65, 65, 65)));
          background-image: -webkit-linear-gradient(top, rgb(80, 80, 80), rgb(65, 65, 65));
          background-image: -o-linear-gradient(top, rgb(80, 80, 80), rgb(65, 65, 65));
          background-image: linear-gradient(top, rgb(80, 80, 80), rgb(65, 65, 65));
        }
      }
    }
  }
}



footer {
  text-align: center;
}

div.project {  
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding: 10px;
  header {    
    h1 {
      /*font-size: 1.5em;
      line-height: 1.5em;*/
      margin: 0;
    }
    div.headline {

    }
  }  
  div.description {

  }
  div.link {

  }
}

table.professional, table.education {
  th, td {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  th {
    text-align: center;
  }
}

table.professional {
  div.position-header {
    margin-bottom: 10px;
  }
}

article.post {
  header {
    div.post-title {
      h1 {
        /*font-size: 2em;*/
      }
    }
    .date {
      font-weight: bold;
    }    
  }
  p.more {
    margin: 10px 0;
    a {
      font-weight: bold;
    }
  }
}

div.comments-heading {
  text-align: right;
}

.valign-middle {
  vertical-align: middle;
}

div.resume-anchor-link {
  div {
    padding-bottom: 10px;
    padding-left: 15px;
    a {
      display: inline-block;
      i {
        margin-right: 15px;
      }
    } 
  }  
  margin-bottom: 20px;
}

div.row-rss-link {
  margin-bottom: 15px;
}

#followGithub,
#followTwitter {
  background-color: #ECECEC;
  background-image: linear-gradient(#F4F4F4, #ECECEC);
  border: 1px solid #D4D4D4;
  border-radius: 0.2em 0.2em 0.2em 0.2em;
  color: #333333;
  font: 11px sans-serif;
  margin: 0;
  margin-top: 20px;
  outline: medium none;
  overflow: visible;
  padding: 0.5em 1em;
  text-decoration: none;
  text-shadow: 1px 1px 0 #FFFFFF;
  vertical-align: middle;
  &:hover {
    color: #FFFFFF;
    background-color: #3072B3;
    background-image: linear-gradient(#599BDC, #3072B3);
    border-color: #3072B3 #3072B3 #2A65A0;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  }
  img { 
    position: relative;
    top: -1px;
    margin: 0 6px 0 0;
    height: 20px;
    display: inline-block;
  }
  span {
    position: relative;
    top: 1px;
    display: inline-block;
  }
}

div.row-contact {
  padding-left: 25px;
  margin-bottom: 5px;
  a {
    text-decoration: none;
    overflow: hidden;
    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }
  img {
    display: inline-block;
    height: 32px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  span {
    padding-left: 10px;
    display: inline-block;
  }
  address {
    margin-top: 15px;
    line-height: 12px;
    p {
      margin: 0;
      padding: 0;
    }
  }
}
